@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3d5af1;
  --main-color-dark: #3651d4;
  --main-color-light: #5872f5;
  --text-color: #cfcde7;
}

body {
  font-family: "Poppins", sans-serif;
  /* overflow-x: hidden; */
  background-color: #e4e2f5;
  min-height: 100vh;
  /* display: flex; */
  position: relative;
}
.upper{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 2% 1%;
  height: fit-content;
}
h1{
    color: var(--main-color);
}
.left{
    width: 60%;
    font-size: 20px;
}
.right{
    width:35%;
  margin-left: 4%;
}
.right img{
    width:75%;
}

.left span{
    color: var(--main-color-light);
    font-size: 25px;
}
.lower{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 2% 1%;
}
.tiles{
    width:31%;
    height: 120px;
    margin: 0.5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8%;
    align-items: center;
}
.tiles span{
    align-items: center;
    margin:3%;
    padding: 3%;
    font-size: 18px;
    font-weight: bolder;
}
 .tiles img {
    width:20%;
  margin:2%;
 }
 .table{
    border-radius: 5%;
    width:98%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* background-color: #cfcde7; */
 }
 #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 13px;
    border-radius: 20px;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  #customers tr:nth-child(even){background-color:var(--text-color);}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:var(--main-color);
    color: white;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
 @media(max-width:950px){
    .img img{
      margin-top: 20%;
    }
 
  }
  @media (max-width:750px){
    .right{
      display: none;
      
    }
    .left{
      font-size: 20px;
      margin: 0.25%;
      padding: 0.5%;
      width: 100%;
    }
    
  }
  @media(max-width:550px){
    .lower{
      flex-direction: column;
      margin:3%;
      padding: 2%;
    }
    .tiles{
      margin: 3%;
      width:95%;
    }
    .why span{
      margin-left: 30%;
    }
  }